# ignore backend dependencies
backend/node_modules/
backend/package-lock.json

# ignore databases
backend/nexus_clone.db
backend/nexus_clone.json

# ignore cloned folders and zip archives
storage/
preview/
